<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.googlecode.alvor.checkers.checkers">
      <checker
            class="com.googlecode.alvor.checkers.mysql.DynamicSQLCheckerMySQL"
            defaultDriver="com.mysql.jdbc.Driver"
            name="MySQL-DB"
            usesDatabase="true">
      </checker>
   </extension>

</plugin>
