<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edsl"
         name="EDSL Completion Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory></proposalCategory>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="ee.stacc.productivity.edsl.completion.edsl"
            class="ee.stacc.productivity.edsl.completion.EDSLCompletionProposalComputer">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ee.stacc.productivity.edsl.completion.CompletionStartup">
      </startup>
   </extension>

   <extension
         id="token"
         name="Current token marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="false"/>
    </extension>
    
	<extension 
         point="org.eclipse.ui.editors.annotationTypes">
<!--             super="org.eclipse.ui.workbench.texteditor.info" -->
         <type
             name="token"
             markerType="ee.stacc.productivity.edsl.completion.token">
         </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
               annotationType="token"
               colorPreferenceKey="highlight.color-10"
               colorPreferenceValue="51,204,55"
               highlightPreferenceKey="highlight.background"
               highlightPreferenceValue="true"
               label="token"
               overviewRulerPreferenceKey="highlight.rulers.overview-10"
               overviewRulerPreferenceValue="false"
               presentationLayer="10"
               textPreferenceKey="highlight.text"
               textPreferenceValue="true"
               textStylePreferenceKey="highlight.text.style"
               textStylePreferenceValue="BOX"
               verticalRulerPreferenceKey="highlight.rulers.vertical-10"
               verticalRulerPreferenceValue="false">
         </specification>
    </extension>
</plugin>
