<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edsl"
         name="EDSL Completion Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory></proposalCategory>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="ee.stacc.productivity.edsl.completion.edsl"
            class="ee.stacc.productivity.edsl.completion.EDSLCompletionProposalComputer">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ee.stacc.productivity.edsl.completion.CompletionStartup">
      </startup>
   </extension>

</plugin>
