<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.googlecode.alvor.checkers.checkers">
      <checker
            class="com.googlecode.alvor.checkers.oracle.DynamicSQLCheckerOracle"
            defaultDriver="oracle.jdbc.OracleDriver"
            name="Oracle-DB"
            usesDatabase="true">
      </checker>
   </extension>

</plugin>
