<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ee.stacc.productivity.edsl.gui.ShowAbstractValueContribution"
            targetID="#CompilationUnitEditorContext">
      	<action
               class="ee.stacc.productivity.edsl.gui.AbstractStringPrinter"
               menubarPath="ContextMenu"
               id="ee.stacc.eclipsesql.ShowAbstractValue"
               label="Show abstract value">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="sqlerror"
         name="SQL error marker" 
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
      <persistent value="true"/>
   </extension>

   <extension
         id="sqlwarning"
         name="SQL warning marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="ee.stacc.productivity.edsl.gui.CheckProjectHandler"
            description="Checks SQL usage in active project"
            id="ee.stacc.eclipsesql.plugin.CheckProject"
            name="Check SQL in project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="ee.stacc.eclipsesql.plugin.CheckProject"
               label="##### Check SQL in active Project ######"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="javaFileSelected">
         <with
               variable="selection">
            <instanceof
                  value="org.eclipse.jdt.core.ICompilationUnit">
            </instanceof>
         </with>
      </definition>
   </extension>
   
   <extension
         id="sqlhotspot"
         name="SQL hot spot marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="true"/>
    </extension>
    
	<extension 
         point="org.eclipse.ui.editors.annotationTypes">
         <type
             name="sqlhotspot"
             super="org.eclipse.ui.workbench.texteditor.info"
             markerType="ee.stacc.productivity.edsl.gui.sqlhotspot">
         </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
             annotationType="sqlhotspot"
             verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="sqlhotspot"
            colorPreferenceValue="128,255,0"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
        </specification >
    </extension>

</plugin>
