<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeroturnaround.alvor.gui.ShowAbstractValueContribution"
            targetID="#CompilationUnitEditorContext">
      	<action
               class="com.zeroturnaround.alvor.gui.AbstractStringPrinter"
               menubarPath="ContextMenu"
               id="com.zeroturnaround.alvor.ShowAbstractValue"
               label="Show abstract value">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.zeroturnaround.alvor.gui.ShowConnSourceContribution"
            targetID="#CompilationUnitEditorContext">
         <action
               class="com.zeroturnaround.alvor.gui.ConnectionSourceFinder"
               id="com.zeroturnaround.alvor.ShowConnSource"
               label="Show connection source"
               menubarPath="_ContextMenu">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="sqlerror"
         name="SQL error marker" 
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
      <persistent value="true"/>
   </extension>

   <extension
         id="sqlwarning"
         name="SQL warning marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="com.zeroturnaround.alvor.gui.CheckProjectHandler"
            description="Checks SQL usage in active project"
            id="com.zeroturnaround.alvor.plugin.CheckProject"
            name="Check SQL in project">
      </command>
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="com.zeroturnaround.alvor.gui.ClearCacheHandler"
            description="Clears cache for the selected project"
            id="com.zeroturnaround.alvor.gui.clearCache"
            name="Clear project cache">
      </command>
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="com.zeroturnaround.alvor.gui.CheckResultSetsHandler"
            description="Checks ResultSet-s"
            id="com.zeroturnaround.alvor.gui.checkResultSets"
            name="Check ResultSet-s">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="com.zeroturnaround.alvor.plugin.CheckProject"
               label="Check SQL in selected elements"
               style="push">
         </command>
         <command
               commandId="com.zeroturnaround.alvor.gui.clearCache"
               label="Clear SQL Analyzer Cache"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="javaFileSelected">
         <with
               variable="selection">
            <instanceof
                  value="org.eclipse.jdt.core.ICompilationUnit">
            </instanceof>
         </with>
      </definition>
   </extension>
   
   <extension
         id="sqlhotspot"
         name="SQL hot spot marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="true"/>
    </extension>
    
	<extension 
         point="org.eclipse.ui.editors.annotationTypes">
         <type
             name="sqlhotspot"
             super="org.eclipse.ui.workbench.texteditor.info"
             markerType="com.zeroturnaround.alvor.gui.sqlhotspot">
         </type>
         <type
               markerType="com.zeroturnaround.alvor.gui.sqlstring"
               name="sqlstring">
         </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
             annotationType="sqlhotspot"
             verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="sqlhotspot"
            colorPreferenceValue="255,240,200"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
        </specification >
<!--               colorPreferenceKey="highlight.color-2"
               colorPreferenceValue="255,120,120"-->
         <specification
               annotationType="unsupported"
               highlightPreferenceKey="highlight.background"
               highlightPreferenceValue="true"
               label="unsupported"
               overviewRulerPreferenceKey="highlight.rulers.overview"
               overviewRulerPreferenceValue="true"
               presentationLayer="4"
               textPreferenceKey="highlight.text"
               textPreferenceValue="true"
               textStylePreferenceKey="highlight.text.style"
               textStylePreferenceValue="BOX"
               verticalRulerPreferenceKey="highlight.rulers.vertical"
               verticalRulerPreferenceValue="true">
         </specification>
    </extension>
   
   <extension
         id="sqlstring"
         name="SQL string marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="true"/>
    </extension>
    


   <extension
         id="unsupported"
         name="SQL unsupported marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="true"/>
    </extension>
    
	<extension 
         point="org.eclipse.ui.editors.annotationTypes">
         <type
             name="unsupported"
             super="org.eclipse.ui.workbench.texteditor.info"
             markerType="com.zeroturnaround.alvor.gui.unsupported">
         </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
               annotationType="sqlstring"
               colorPreferenceKey="highlight.color-1"
               colorPreferenceValue="255,240,200"
               highlightPreferenceKey="highlight.background"
               highlightPreferenceValue="true"
               label="sqlstring"
               overviewRulerPreferenceKey="highlight.rulers.overview-1"
               overviewRulerPreferenceValue="false"
               presentationLayer="0"
               textPreferenceKey="highlight.text"
               textPreferenceValue="true"
               textStylePreferenceKey="highlight.text.style"
               textStylePreferenceValue="BOX"
               verticalRulerPreferenceKey="highlight.rulers.vertical-1"
               verticalRulerPreferenceValue="false">
         </specification>
    </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.zeroturnaround.alvor.gui.AlvorGuiStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ee.stacc.productivity.edsl.gui.AlvorPropertiesEditor"
            contributorClass="ee.stacc.productivity.edsl.gui.AlvorPropertiesEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="ee.stacc.productivity.edsl.gui.AlvorPropertiesEditor"
            name="Alvor Properties Editor">
      </editor>
      <editor
            class="ee.stacc.productivity.edsl.gui.editors.MultiPageEditor"
            contributorClass="ee.stacc.productivity.edsl.gui.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="ee.stacc.productivity.edsl.gui.editors.MultiPageEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
<!--
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%editors.sqlCheckerPrefs.name"
            class="ee.stacc.productivity.edsl.gui.SQLCheckerPrefsEditor"
            id="ee.stacc.productivity.edsl.gui.sqlCheckerPrefsEditor">
		TODO: These may be added later:
	        icon="$nl$/icons/obj16/plugin_mf_obj.gif" 
            contributorClass="ee.stacc.productivity.edsl.gui.SQLCheckerPrefsEditorContributor"
			matchingStrategy="ee.stacc.productivity.edsl.gui.SQLCheckerPrefsEditorMatchingStrategy"
            
            <contentTypeBinding contentTypeId="org.eclipse.pde.pluginManifest"/>
            <contentTypeBinding contentTypeId="org.eclipse.pde.fragmentManifest"/>
            <contentTypeBinding contentTypeId="org.eclipse.pde.bundleManifest"/>            
      </editor>
   </extension>
            //-->
<!--   <extension
         point="org.eclipse.ui.views">
      <category
            name="EmbSQL"
            id="ee.stacc.productivity.edsl.gui">
      </category>
      <view
            name="TestFormView"
            category="ee.stacc.productivity.edsl.gui"
            icon="icons/sample.gif"
            class="ee.stacc.productivity.edsl.gui.TestFormView"
            id="ee.stacc.productivity.edsl.gui.TestFormView">
      </view>
   </extension> //-->
</plugin>

