<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ee.stacc.productivity.edsl.checkers.checkers">
      <checker
            class="ee.stacc.productivity.edsl.checkers.sqlstatic.LexicalSQLChecker">
      </checker>
      <checker
            class="ee.stacc.productivity.edsl.checkers.sqlstatic.SyntacticalSQLChecker">
      </checker>
   </extension>

</plugin>
